* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

@font-face {
  font-family: poppins;
  src: url(fonts/Poppins-Regular.ttf);
}

body {
  font-family: poppins;
  font-size: 16px;
  line-height: 24px;
}

nav {
  display: flex;
  justify-content: space-around;
  height: 90px;
  align-items: center;
}

ul {
  display: flex;
}

a {
  font-size: 15px;
  margin-right: 10px;
}

.nav-btn {
  padding: 10px;
  color: #ffffff;
  background: #1b1a1a;
  border-radius: 14px;
  cursor: pointer;
}

.header-info {
  display: flex;
  height: 720px;
}

.asid {
  background-color: #ece7e4;
  width: 50%;
}

.header-info-block {
  width: 50%;
}

.header-info-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.adis-content {
  margin: 120px 80px;
  width: 600px;
}

.adis-name {
  font-size: 14px;
  line-height: 20px;
}

.adis-p-info {
  margin: 20px 0px;
  font-size: 64px;
  line-height: 70px;
  width: 417px;
  height: 212px;
}

.adis-p-about {
  margin-bottom: 30px;
  width: 509px;
  height: 120px;
}

.left {
  font-size: 32px;
}
