* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

@font-face {
  font-family: poppins;
  src: url(fonts/Poppins-Regular.ttf);
}

body {
  font-family: poppins;
  font-size: 16px;
  line-height: 24px;
}

nav {
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  height: 90px;
  align-items: center;
}

ul {
  display: flex;
}

a {
  font-size: 15px;
  margin-right: 10px;
}

.nav-btn {
  padding: 10px;
  color: #ffffff;
  background: #1b1a1a;
  border-radius: 14px;
  cursor: pointer;
}

.header-info {
  display: flex;
  height: 720px;
}

.asid {
  background-color: #ece7e4;
  width: 50%;
}

.header-info-block {
  width: 50%;
}

.header-info-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.adis-content {
  margin: 120px 80px;
  width: 600px;
}

.adis-name {
  font-size: 14px;
  line-height: 20px;
}

.adis-p-info {
  margin: 20px 0px;
  font-size: 64px;
  line-height: 70px;
  width: 417px;
  height: 212px;
}

.adis-p-about {
  margin-bottom: 30px;
  width: 509px;
  height: 120px;
}

.left {
  width: 30%;
  font-size: 32px;
}

.right {
  width: 70%;
}

.right-p {
  width: 493px;
  height: 144px;
  margin-bottom: 10px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 720px;
}

.section-content {
  padding-right: 20px;
  display: flex;
  width: 768px;
  height: 582px;
}

.person {
  margin-top: 20px;
  display: flex;
  width: 501px;
  height: 100px;
}

.person-img {
  width: 84px;
  height: 84px;
}

.person-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.peson-data {
  margin-top: 20px;
  text-align: center;
  width: 196px;
  height: 100px;
}

#section2 {
  background-image: url(img/3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section2-content {
  width: 300px;
  margin-left: 800px;
}

.section2-content p {
  width: 285px;
}

.li-div {
  margin: 0 auto;
  margin-bottom: 40px;
  width: 117px;
  height: 102px;
  border-radius: 50%;
  background-color: #403e3b;
}

.section3-content {
  width: 1200px;
}

.section3-ul {
  display: flex;
  justify-content: space-between;
}

.section3-ul li {
  padding: 0 20px;
  text-align: center;
}

.section3-content-p {
  text-align: center;
  margin-bottom: 40px;
}

.section4 {
  background-image: url(img/4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section4-content {
  width: 300px;
  margin-left: 800px;
}
